@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(107,33,168);
  background: linear-gradient(90deg, rgba(107,33,168,1) 0%, rgba(0,212,255,1) 100%);
}

header{
  box-shadow: 0 4px 2px -2px black;
}


#root{

}

@media (max-width: 800px) {
	.car-list{
		
	}
}



